<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>serverAddress</key>
	<dict>
		<key>develop</key>
		<dict>
			<key>address</key>
			<string>https://marriage-party.fun/</string>
			<key>imAppKey</key>
			<string>1128181009228125#goingdown</string>
			<key>imApnsName</key>
			<string>TsIMHYTestDev</string>
		</dict>
		<key>production</key>
		<dict>
			<key>address</key>
			<string>https://marriage-party.fun/</string>
			<key>imAppKey</key>
			<string>1128181009228125#goingdown</string>
			<key>imApnsName</key>
			<string>TsIMHYTestDis</string>
		</dict>
	</dict>
	<key>BuglyAppID</key>
	<string>c46381af1a</string>
	<key>BuglyAppKey</key>
	<string>05885b6b-0e4e-4503-a5a2-e616d56e0891</string>
	<key>AMapApiKey</key>
	<string>d599bf109c255bab36216d5393e93a36</string>
	<key>isHiddenGuestLoginButtonInLaunch</key>
	<false/>
	<key>jPushKey</key>
	<string>1ec86bd453cd3bfe16ec995a</string>
</dict>
</plist>
